.header ul 
{
    background-color: rgba(0,0,0,0.8);
    list-style-type: none;
    margin: -8px -8px 0px -8px;
}
.sub-header ul 
{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: sans-serif;
    padding: 15px 0px 10px 0px;
    font-size: 14px;
}
a
{
  text-decoration: none;
  color: white;
}
.background
{
    height: 50px;
    width: 100%;
    margin: -1px 0px 0px -7px;
    padding-right: 10px;
    border-bottom: solid 1px gray;
}
p
{
   font-family: sans-serif;
   font-size: 25px;
   font-weight: initial;
   margin: 6px 0px 0px 200px;
   padding-top: 5px;
}
.container1
{
    height: 352px;
    width: 100%;
    margin: -2px 0px 0px -7px;
    padding-right: 15px;
    background-color:whitesmoke;
    border-top: solid 2px rgb(159, 158, 158);
}
.accessories
{
    display: flex;
    justify-content: space-evenly;
}
.bg-img img 
{
    height: 350px;
    width: 800px;
    margin: 0px -11px 0px 50px;
}
.bg-text 
{
    height: 250px;
    width: 500px;
    margin: 40px 0px 0px 300px;
}
.text1
{
    font-size: 45px;
    font-family: sans-serif;
    font-weight: bold;
}
.text2
{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: initial;
}
.text3 a
{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: initial;
    color: rgb(25, 185, 238);
}
.text3 a:hover
{
    text-decoration: underline;
    color: rgb(49, 191, 238);
}

.container2
{
    border-bottom: solid 1px gray;
    height: 200px;
    width: 100.30%;
    margin: -3px 0px 0px -7px;  
}

.text5
{
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    font-size: 29px;
    margin: 65px 0px 0px 0px;
}
.input-field input
{
    height: 60px;
    margin: 0px 0px 0px 350px;
}
input::placeholder
{
    font-size: 20px;
    padding: 2px 0px 0px 20px;
}
.container3
{
    border-bottom:solid 1px gray ;
    height: 280px;
    width: 100%;
}
.text6
{
    font-weight: initial;
    font-family: sans-serif;
    text-align: center;
    font-size: 28px;
    padding: 20px 0px 0px 0px;
}

.text7
{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
}
.icons
{
    padding-top: -15px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 250px 10px 250px;
}
.text7:hover
{
    color: rgb(20, 121, 152);
}
.container4
{
    width: 100%;
    height: 600px;
    border-bottom:solid 1px gray ;
}
.text8
{
    font-size: 37px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.flex-container
{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 150px 0px 150px;
}
.card1
{
    width: 300px;
    height: 450px;
    margin-top: 30px;
    background-color: whitesmoke;
    border-radius: 12px;
}
.card1 img
{
  width: 280px;
  height: 280px;
}
.card2
{
    width: 300px;
    height: 450px;
    margin-top: 30px;
    background-color: whitesmoke;
    border-radius: 12px;
}
.card3
{
    width: 300px;
    height: 450px;
    margin-top: 30px;
    background-color: whitesmoke;
    border-radius: 12px;
}
.FE
{
    color: orangered;
}
.text9
{
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    color: black;
}
.text9 img
{
  height: 260px;
}
.FE-text a
{
  color: black;
  font-size: 20px;
}
.FE-text a:hover
{
    color: rgb(24, 153, 196);
}

.container5
{
    border: solid 2px black;
    width: 100%;
    height: 400px;
    background-color: rgb(5, 5, 41);
    margin: 0px 0px 0px -7px;
    padding-right: 8px;
    /* border-bottom:solid 1px gray ; */
}
.wow-flex
{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 300px 0px 300px;
}
.wow-text
{
   
    width: 450px;
    height: 300px;
    margin-top: -30px;
}
.wow-text img
{
 height: 50px;
 width: 50px;
 margin: 50px 0px 0px 200px;
}
.wow-img img
{
   
    width: 400px;
    height: 350px;
    margin-top: -55px;
}
.text10
{
    font-size: 45px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
.text11
{
    font-size: 45px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}
.text12 a
{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: initial;
    color: rgb(25, 185, 238);
    margin-left: 80px;
}
.text12 a:hover
{
    text-decoration: underline;
    color: rgb(49, 191, 238);
}
.text13
{
    font-size: 37px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}



.container7
{
    height: 1050px;
    width: 100.6%;
    margin: -15px -5px 0px -7px;
    background-color: whitesmoke;
}
.border
{
    height: 1080px;
    width: 1100px;
    margin-left: 200px;
}
.text29
{
    font-family: sans-serif;
    font-weight: initial;
    font-size: 15px;
    color: gray;
    padding:30px 0px 20px 0px;
    border-bottom: solid 2px rgb(232, 225, 225); 
} 
.container7 p
{
    font-family: sans-serif;
    font-weight: initial;
    font-size: 14px;
    color: gray;
    padding-top: 15px;
    margin-left: -10px;
}
.footer1
{
    margin: 0px 0px 0px -40px;
}
.footer1 li
{
    list-style-type: none;
    color: gray;
    font-family: sans-serif;
}
.footer1 ul
{
 font-family: sans-serif;
 margin-top: -15px;
}
.flex-footer
{
    display: flex;
    justify-content: space-evenly;
}

.main-footer li
{
    padding: 5px 0px 5px 0px;
}
.para-text
{
    font-family: sans-serif;
    font-size: 14px;
    color: gray;
}
.para-text a
{
    color: rgb(31, 148, 194);
    font-family: sans-serif;
    font-size: 14px;
}
.text30
{
    border-bottom: solid 2px rgb(232, 225, 225); 
}
.text31
{
    font-family: sans-serif;
    font-size: 14px;
    color: gray;
}
.text32
{
    margin: -15px 0px 0px 1000px;
}