.header ul 
{
    background-color: rgba(0,0,0,0.8);
    list-style-type: none;
    margin: -8px -8px 0px -8px;
}
.sub-header ul 
{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: sans-serif;
    padding: 15px 0px 10px 0px;
    font-size: 14px;
}
a
{
  text-decoration: none;
  color: white;
}
.sub-header img
{
    margin-top: -5px;
}

.support-img img
{
 width: 100.85%;
 height: 570px;
 margin: 0px 0px 0px -8px;
 position: relative;
}
.text1
{
    font-weight: bolder;
    font-size: 50px;
    font-family: sans-serif;
    color: white;
    margin: -400px 0px 0px 750px;
    position: absolute;
}
.container1
{
    border-bottom: solid 1px gray;
    height: 300px;
    width: 100.30%;
    margin: -3px 0px 0px -7px;
}
.text2 
{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
}

.text3
{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(7, 139, 188);
}
.text4
{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(7, 139, 188);
}

.text4 img
{
 margin-left: -95px;

}
.icons
{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 180px 10px 180px;
}
.container2
{
    border-bottom: solid 1px gray;
    height: 220px;
    width: 100.30%;
    margin: -3px 0px 0px -7px;  
}
.facility
{
    padding: 35px 150px 0px 150px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 180px 10px 180px;
}
.facility img
{
 width: 65px;
 height: 65px;
}
.facility .text4
{
    border-right: solid 1px gray;
}

.container3
{
    border-bottom: solid 1px gray;
    height: 230px;
    width: 100.30%;
    margin: -3px 0px 0px -7px;  
}

.text5
{
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 65px 0px 0px 0px;
}
.input-field input
{
    height: 60px;
    margin: 0px 0px 0px 460px;
}
/* .container3 img
{
  margin: -100px 0px 0px 480px;
} */
input::placeholder
{
    font-size: 30px;
    padding: 2px 0px 0px 20px;
}
.container4
{
    height: 415px;
    width: 100%;
}
.ios
{
    display: flex;
    justify-content: space-evenly;
    margin: 60px 100px 0px 0px;
}
.iphone img
{
    
    height: 350px;
    width: 550px;
    margin: 0px 0px 0px 250px;
    border-radius: 20px;
}
.develop
{
   
    height: 350px;
    width: 600px;
    margin: 0px 0px 0px -130px;
    word-spacing: 5px;
}
.text6
{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 50px;
    padding-top: 8px;
}
.text7
{
    font-weight: initial;
    font-family: sans-serif;
    font-size: 30px;
}
.text8 a
{
    font-weight: initial;
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(7, 139, 188);
}
.text8 a:hover
{
    text-decoration: underline;
    color: rgb(13, 164, 219);
}
.get-bg img
{
  width: 100.85%;
  height: 570px;
  margin: 30px 0px 0px -8px;
  position: relative;
}
.get-text
{
    position: absolute;
    margin: -400px 0px 0px 280px;
    color: white;
}
.text9 a
{
    font-weight: initial;
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(75, 198, 243);
}
.text9 a:hover
{
    text-decoration: underline;
    color: rgb(13, 164, 219);
}
.container5
{
    height: 350px;
    width: 100%;
    border-bottom: solid 1px gray;
}
.ipad
{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 300px 0px 300px;
}
.trade-apple
{
    height: 300px;
    width: 650px;
}
.text10 img
{
    height: 300px;
    width: 500px;
    border-radius: 10px;
}
.text11 a
{
    font-weight: initial;
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(10, 143, 191);
}
.text11 a:hover
{
    text-decoration: underline;
    color: rgb(7, 101, 135);
}
.container6
{
    height: 430px;
    width: 100%;
    border-bottom: solid 1px gray;
}
.water
{
    display: flex;
    justify-content: space-evenly;
    margin: 60px 300px 0px 350px;
}
.Accident img
{
    height: 300px;
    width: 500px;
    border-radius: 10px;
}
.apple-care
{
    height: 400px;
    width: 650px;
    padding-left: 70px;
}
.container7
{
    height: 370px;
    width: 100%;
    border-bottom: solid 1px gray;
}
.my-support
{
    display: flex;
    justify-content: space-evenly;
    margin: 60px 300px 0px 300px;
}
.i-pod
{
    height: 300px;
    width: 600px;
}
.i-pod1 img
{
    height: 300px;
    width: 500px;
}
.container8
{
    height: 300px;
    width: 100%;
    border-bottom: solid 1px gray;
}
.text12
{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 32px;
    text-align: center;
    padding: 35px 0px 0px 0px;
}
.text13
{
    font-weight: initial;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}
.text13 a
{
    font-weight: initial;
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(7, 139, 188);
}
.text13 a:hover
{
    text-decoration: underline;
    color: rgb(7, 101, 135);
}
.container9
{
    height: 360px;
    width: 100%;
    border-bottom: solid 1px gray;
}
.container10
{
    height: 300px;
    width: 100%;
    border-bottom: solid 1px gray;
}
.gift-cards
{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 200px 0px 550px;
}
.scams img
{
    height: 220px;
    width: 370px;
    margin: -10px 0px 0px -200px;
}
.i-tunes
{
    height: 150px;
    width: 750px;
    margin: 0px 50px 0px 0px;
}
.container11
{
    height: 430px;
    width: 100%;
    border-bottom: solid 1px gray;
}
.apple-program
{
    height: 450px;
    width: 1000px;
    margin: 50px 0px 0px 350px;
}
.text14
{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 35px;
}
.text15 a
{
    font-weight: initial;
    font-family: sans-serif;
    font-size: 23px;
    color: rgb(10, 143, 191);
}
.text15 a:hover
{
    text-decoration: underline;
    color: rgb(19, 176, 233);
}

.container12
{
    height: 1050px;
    width: 100.6%;
    margin: -15px -5px 0px -7px;
    background-color: whitesmoke;
}
.border
{
    height: 1080px;
    width: 1100px;
    margin:18px 0px 0px 350px;
}
.text29
{
    font-family: sans-serif;
    font-weight: initial;
    font-size: 15px;
    color: gray;
    padding:30px 0px 20px 0px;
    border-bottom: solid 2px rgb(232, 225, 225); 
} 
.container12 p
{
    font-family: sans-serif;
    font-weight: initial;
    font-size: 14px;
    color: gray;
    padding-top: 15px;
}
.footer1
{
    margin: 0px 0px 0px -40px;
}
.footer1 li
{
    list-style-type: none;
    color: gray;
    font-family: sans-serif;
}
.footer1 ul
{
 font-family: sans-serif;
 margin-top: -15px;
}
.flex-footer
{
    display: flex;
    justify-content: space-evenly;
}

.main-footer li
{
    padding: 5px 0px 5px 0px;
}
.para-text
{
    font-family: sans-serif;
    font-size: 14px;
    color: gray;
}
.para-text a
{
    color: rgb(31, 148, 194);
    font-family: sans-serif;
    font-size: 14px;
}
.text30
{
    border-bottom: solid 2px rgb(232, 225, 225); 
}
.text31
{
    font-family: sans-serif;
    font-size: 14px;
    color: gray;
}
.text32
{
    margin: -15px 0px 0px 1000px;
}